*{
    margin: 0;
    padding: 0;
}
#nav{
    display: flex;
    justify-content: space-between;
    height: 20%;
}
#main{
    height: 90%;
    width: 100%;
}
#bottom-photo{
    display: flex;
    width: 45%;
    height: 45%;
    justify-content: flex-start;
    align-items: end;
}
#topright{
    display: flex;
    width: 45%;
    height: 45%;
    justify-content: flex-end;
    align-items:flex-start
}